@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Noto+Sans:wght@300&family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

.header {
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/background.jpg');
    /* opacity: 0.8; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-items {
    text-align: center;
}

.nav-itemsli {
    display: inline-block;
    padding: 1.5rem;
}

.nav-itemsli a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    transition: color 0.5s, border 4s;
}

.nav-itemsli a:hover {
    color: rgb(245, 239, 239);
    border-bottom: 1px solid rgb(245, 239, 239);


}

/* ####################### Heading Styling ########################## */
.heading {
    /* background: linear-gradient(rgba(0, 0, 0, 0.258), rgba(0, 0, 0, 0.199)); */
    margin: 0px 48rem;
}

.main-heading {
    color: white;
    font-size: 12rem;
    text-align: center;
    margin-top: 17rem;
    /* translate: ; */
}

.heading-line {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem;
    text-align: center;
}

.social-links {
    text-align: center;

}

.bg-color {
    /* background-color: black; */
    color: white;
    border-radius: 50%;
}

.bg-color:hover {
    box-shadow: 0px 0px 6px 4px whitesmoke;
}

.links .bor-rad:hover {
    border-radius: 25%;
}

.links {

    display: inline-block;
    padding: 1rem 2.5rem;

}

/* ############## About Styling ###################################### */
.about {
    height: auto;
    width: 100%;
    position: relative;

}

.image {
    height: 40rem;
    width: 40rem;
    margin: auto;
    margin-top: -10vh;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 4px whitesmoke;
}

.image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.about-bio {

    height: auto;
    width: 100%;
    background-color: #333;
    color: #f4f4f4;
    margin-top: 5rem;
}

.bio {
    font-size: 2.3rem;
    line-height: 2.4rem;
    padding: 2rem;
    width: 60%;
    float: right;
    font-weight: 500;
    /* letter-spacing: 0.2rem; */
}



/* .item {

    font-size: 3rem;
    padding: 2rem;
}

.item li {
    display: inline-block;
    padding: 3rem;

} */

.about-bio {
    overflow: hidden;
}

.about-pic {
    float: left;
    height: 100%;
    width: 40%;
    padding: 3rem;

}

.bio-heading {
    font-size: 7rem;
    border-bottom: 2px solid white;
    padding: 1rem;
}

.bio-heading-border {
    border-bottom: 4px solid white;
    margin-left: 3rem;

}

/* ###################### skill section styling ################################## */
.skill-sets {
    float: left;
    width: 25%;
    font-size: 2rem;
    background-image: radial-gradient(circle 610px at 5.2% 51.6%, rgba(5, 8, 114, 1) 0%, rgba(7, 3, 53, 1) 97.5%);
    color: white;
    border: 3px solid white;
    height: 35rem;
    border-radius: 10%;
    padding: 4rem;
    margin: 5rem;
    box-shadow: 0px 0px 6px 4px whitesmoke;
    border: 6px solid #f4f4f4;

}

.box {
    background: #333;

}

.center {
    text-align: center;
}

.skill-name {
    padding: 3rem;
    font-size: 3rem;
}

.container {
    overflow: hidden;
    height: 33.333333%;
    width: 90%;
    margin: 0 auto;
}

.last-skill {
    margin: 0 auto;
}

.skill-heading {
    font-size: 7rem;
    margin-left: 5rem;
    color: #f4f4f4;
    padding: 2rem;
    list-style: 2rem;
}

.skill-heading::after {
    content: '';
    display: block;
    border: 6px solid #f4f4f4;
    width: 40%;
    border-radius: 100px;
}

/* ########################### Languages Section  ###################################*/
.languages {
    background: #333;
}

.Lang-heading {
    font-size: 7rem;
    margin-left: 5rem;
    color: #f4f4f4;
    padding: 2rem;
}

.Lang-heading::after {
    content: '';
    display: block;
    border: 6px solid #f4f4f4;
    width: 23%;
    border-radius: 100px;
}

.item li {
    font-size: 5rem;
    padding: 4rem;
    display: inline-block;
    color: #f4f4f4;

}

.lang-list {
    text-align: center;
}

.item li:hover {
    color: #aba9a9;
}

/* ####################3 Education Styling ######################### */

.edu-box {
    overflow: hidden;
    height: auto;
    width: 100%;

}

/* .edu-img {
    float: left;
} */

.edu-img img {
    float: left;
    height: 80%;
    width: 60%;
    padding: 4rem;
}

.edu-body {
    float: right;
    width: 38%;
    /* margin: 0 auto; */
    font-size: 4rem;
    padding: 5rem;
    color: #4f4d4d;
    font-weight: 500;
}

.edu-heading {
    font-size: 7rem;
    color: #333;

}

.edu-heading::after {
    content: '';
    display: block;
    border: 6px solid #333;
    width: 57%;
    border-radius: 100px;

}

/* ################## contact Styling ############################# */
.form-wrapper {

    background: #ddd;
    overflow: hidden;
    /* margin-top: -4rem; */
}

.form {

    height: 900px;
    font-size: 3rem;
    background: #ddd;
    width: 60%;
    float: right;
    padding: 1.3rem;


}

.form h2 {
    font-size: 7rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.form h2::after {
    content: '';
    display: block;
    border: 6px solid #333;
    width: 70%;
    border-radius: 100px;
}

.form-wrapper label {
    display: block;
}

.form-wrapper .form input {
    padding: 1rem;
    width: 80%;
}

.form-btn {
    background-color: rgb(56, 56, 99);
    display: block;
    margin: 0.5rem auto;
    padding: 0.5em 3em;
    font-size: 2.1rem;
    font-weight: 400;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    color: #f4f4f4;
    transition: color 0.5s;
}

.form-btn:hover {
    background: #4f4d4d;
}

.contact-icons {
    color: #333;
}

.contact-links li {
    margin-left: 15rem;
    padding: 6rem;
    transition: font-size 1s;

}

.contact-links {
    margin-top: 3rem;

}

.contact-links li:hover {
    font-size: 2rem;
}

/* ################### Footer styling ############################# */
footer {
    background: #263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.social-media-links i {
    margin: 2rem;
}

.footend {
    font-size: 2rem;
}